body{
    font-family: 'Balsamiq Sans', cursive;
}
.width{
    width: 300px !important;
}
.width2{
    width: 350px !important;

    margin-top: 150px !important;
}
.selects{
   
    background-color: rgb(255, 255, 255) !important;
    border-radius: none !important;
    box-shadow: none !important;
    &:hover{
        border-bottom: 3px solid #DC3545 !important;
        /* background-color: rgba(220, 53, 70, 0.13) !important; */
        border-radius: none !important;
       
    }
}
.select{
    height: 100px !important;
    background-color: rgba(128, 128, 128, 0.075) !important;
}
.height{
    height: 45px;
    width: 160px;
}
// log out btn
.icon{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: xx-large;
    color: white;
    position: fixed;
    bottom: 30px;
    right: 30px; 
    transition: ease-in-out 0.6s;
    -ms-transform: rotate(90deg); /* IE 9 */
    transform: rotate(90deg);
}
.icon:hover{
    -ms-transform: rotate(360deg); /* IE 9 */
    transform: rotate(360deg);
}
.hove:hover{
    background-color: rgba(245, 245, 245, 0.89);
}
.error {
    left: 0;
    right:0;
    position: fixed !important;
    -moz-animation: cssAnimation 0s ease-in 5s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 5s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  @keyframes cssAnimation {
    to {
      width:0;
      height:0;
      overflow:hidden;
      visibility: hidden;
    }
  }
  @-webkit-keyframes cssAnimation {
    to {
      width:0;
      height:0;
      overflow:hidden;
      visibility: hidden;
    }
  }
